*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 95vh;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    background: 
    radial-gradient(circle at 50% 0,
      rgba(255,0,0,.5),
      rgba(255,0,0,0) 70.71%),
    radial-gradient(circle at 6.7% 75%,
      rgba(0,0,255,.5),
      rgba(0,0,255,0) 70.71%),
    radial-gradient(circle at 93.3% 75%,
      rgba(0,255,0,.5),
      rgba(0,255,0,0) 70.71%) beige;
}

br{
    margin: 0;
}

header, main{
    display: none;
    align-items: center;
    justify-content: center;
}

header img{
    margin: 16px;
    width: 20%;
}

.score{
    width: 200px;
    height: 75px;
    background-color: darkblue;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: gold;
}

.score h1{
    font-size: 28px;
    text-transform: uppercase;
}

#point{
    color: red;
    width: 80px;
    height: 40px;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
}


.pacman,
.wall,
.coin,
.ground{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: -0.5px -2.5px;
    vertical-align: top;
}

.pacman{
    background-image: url('/assets/principal/pacman.png');
    background-repeat: no-repeat;
}

.pacman.down{
    transform: rotate(90deg);
}

.pacman.up{
    transform: rotate(-90deg);
}

.pacman.left{
    transform: rotate(180deg);
}

.wall{
    background-image: url('/assets/principal/wall.png');
}

.ground{
    background-image: url('/assets/principal/bg.png');
}

.coin{
    background-image: url('/assets/principal/coin.png');
}

.start-game,
.end-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 500px;
    /* height: 300px; */
    /* border: 10px solid darkblue; */
    border-radius: 24px;
    /* background-color: rgb(240, 178, 216); */
    color: darkblue;
    text-transform: uppercase;
}

.start-game img{
    width: 100%;
    margin-bottom: 40px;
}

.instructions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instructions h2{
    margin-bottom: 32px;
    font-size: 36px;
}

.instructions p{
    text-align: center;
    margin-bottom: 32px;
}

.instructions img{
    width: 128px;
    
}

.start{
    font-size: large;
    cursor: pointer;

}

.end-game{
    display: none;
}



